$black: #000000;
$orange: #d24e01;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Quicksand:wght@300;500;700&display=swap');

$font: 'Open Sans', sans-serif;